<a href="https://colab.research.google.com/github/mayu99/Python-/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science", "Mentorship", "Program","By", "CampusX", sep = "-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
cel = int(input("Enter temp in celsuis:- "))
fah = (cel * 9/5)+32
print("Temp in fahrenheit: -", fah)

Enter temp in celsuis:- 2
Temp in fahrenheit: - 35.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
num1 = int(input("Enter num1 -"))
num2 = int(input("Enter num2:-"))
temp = num2
num2 = num1
num1 = temp
print(num1)
print(num2)

Enter num1 -11
Enter num2:-22
22
11

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
x1 = int(input("Enter x1 -"))
x2 = int(input("Enter x2:-"))
y1 = int(input("Enter y1 -"))
y2 = int(input("Enter y2:-"))

dist = ((x2 - x1)**2 +(y2 - y1)**2)**0.5

print(dist)

Enter x1 -3
Enter x2:-4
Enter y1 -4
Enter y2:-3
1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
P = int(input("Enter P -"))
N = int(input("Enter N:-"))
R = int(input("Enter R -"))

SI = P*N*R/100

print(int(SI))

Enter P -100
Enter N:-2
Enter R -3
6

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [1]:
# Write your code here
heads = int(input("Enter heads:- "))
legs = int(input("Enter legs:- "))

dogs = (legs - 2 * heads) // 2
chickens = heads - dogs

# Print the results.
print("There are", dogs, "dogs and", chickens, "chickens.")

Enter heads:- 4
Enter legs:- 12
There are 2 dogs and 2 chickens.

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [3]:
# Write your code here
num = int(input("Enter number:-"))
total = 0
for i in range(num+1):
  sq = i*i
  total = total + sq
print(total)

Enter number:-3
14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [4]:
# Write your code here
first = int(input("Enter num:- "))
second = int(input("Enter num2:- "))
d = second - first
n = int(input("Enter nth term:- "))

An = first + (n-1)*d

print(An)

Enter num:- 2
Enter num2:- 4
Enter nth term:- 10
20

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [8]:
# Write your code here
num1 = int(input("Enter num1:-"))
den1 = int(input("Enter den:- "))
num2 = int(input("Enter num2:-"))
den2 = int(input("Enter den2:-"))

Final = (num1/den1) + (num2/den2)

print(Final)

Enter num1:-2
Enter den:- 3
Enter num2:-4
Enter den2:-5
1.4666666666666668

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [10]:
# Write your code here
heigth = float(input("Enter height:- "))
length = float(input("Enter length:- "))
breadth = float(input("Enter breadth:- "))
Tank_vol = heigth * length * breadth

glass_h = float(input("Enter heigth:- "))
rad = float(input("Enter rad:- "))
Glass_vol = 3.14 * rad**2 * glass_h

num = Tank_vol/Glass_vol

print(num)

Enter height:- 2
Enter length:- 3
Enter breadth:- 4
Enter heigth:- 2
Enter rad:- 3
0.4246284501061571

In [11]:
units = input("Enter the units of measurement (e.g., cm, inches): ")

tank_height = float(input("Enter height of tank (in " + units + "): "))
tank_length = float(input("Enter length of tank (in " + units + "): "))
tank_breadth = float(input("Enter breadth of tank (in " + units + "): "))
tank_volume = tank_height * tank_length * tank_breadth

glass_height = float(input("Enter height of glass (in " + units + "): "))
glass_radius = float(input("Enter radius of glass (in " + units + "): "))
glass_volume = 3.14159 * glass_radius**2 * glass_height

num_glasses = tank_volume / glass_volume

print(f"You can fill approximately {num_glasses:.2f} glasses of milk from the tank.")
print("You might be able to partially fill an additional glass.")

Enter the units of measurement (e.g., cm, inches): cm
Enter height of tank (in cm): 22
Enter length of tank (in cm): 33
Enter breadth of tank (in cm): 44
Enter height of glass (in cm): 21
Enter radius of glass (in cm): 5
You can fill approximately 19.37 glasses of milk from the tank.
You might be able to partially fill an additional glass.